In [17]:
i=0
a=set()
c= set()
b={2,5,7,9,15,22,33}


for i in range (6,30):
  nuevo_A = i+1
  a.add(nuevo_A)
print(a)
for i in range (2,30):
  if i%3 == 1:
    c.add(i)
print(b)
print(c)

{7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30}
{33, 2, 5, 22, 7, 9, 15}
{4, 7, 10, 13, 16, 19, 22, 25, 28}

In [18]:
def union (a,b):
  return a|b
def intersecion (a,b):
  return a&b
def diferencia (a,b):
  return a-b
def dif_sime (a,b):
  return a^b

op1=intersecion(a,c)
op2=dif_sime(a,b)
op3=union(op1,op2)
print(op3)
op4=union(a,b)
op5=dif_sime(op4,b)
op6=diferencia(a,c)
op7=intersecion(op5,op6)
print(op7)
op8=union(a,b)
op9=intersecion(a,c)
op10=diferencia(op8,op9)
op11=union(op8,c)
op12=intersecion(op11,op10)
print(op12)

{2, 5, 7, 8, 10, 11, 12, 13, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 33}
{8, 11, 12, 14, 17, 18, 20, 21, 23, 24, 26, 27, 29, 30}
{2, 5, 8, 9, 11, 12, 14, 15, 17, 18, 20, 21, 23, 24, 26, 27, 29, 30, 33}